body{
    background-color: rgb(255, 209, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.maindiv{
    background-color: rgb(255, 255, 255);
    top: 12%;
    left: 10%;
    width: 80%;
    height: fit-content;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.menu{
    /* display: flex;
    flex-flow: column;
    justify-content: space-between; */
}
.icons{
    height: 35px;
    width: 35px;
}
.topicon{
    height: 40px;
    width: 40px;
    background-color: rgb(217, 93, 255);
    padding: 10px;
}
.between{
    height: 40px;
    width: 40px;
    /* display:flex;
    justify-content: center; */
    margin-top: 100px;
    margin-bottom: 300px;
    padding: 10px;
}
.boticon{
    height: 40px;
    width: 40px;
    /* display: flex;
    justify-content: flex-end; */
    padding: 10px;
}
.image{
    top: -12%;
    left: 5%;
    width: 25%;
    position: absolute;
    display: flex;
    order: 1;
}
#image{
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    /* width: 100px;
    height: 100px; */
    /* margin: 50px; */
    background: white;
}
.name{
    top: 65%;
    left: 55%;
    width: 65%;
    position: absolute;
}
#name{
    color: rgb(217, 93, 255);
}
.nameicons{
    height: 40px;
    width: 40px;
    display: flex;
    margin-left: 30px;
}
#nameicons{
    height: 35px;
    width: 35px;
}
.empty{
    margin-left: 10px;
    margin-right: 10px;
}
.info{
    top: 10%;
    left: 50%;
    width: 40%;
    bottom: 10%;
    position:relative;
}
.description{
    display: flex;
    justify-content: right;
}
.belowservices{
    display: flex;
    justify-content: space-between;
}
.development{
    /* display: flex; */
}
.devimg{
    height: 40px;
    width: 40px;
}
#devimg{
    height: 35px;
    width: 35px;
}
.seo{
    margin-left: 10px;
}